/* You can add global styles to this file, and also import other style files */

:root {
  --bb-font-family: "Saira", sans-serif;
}

html,
body {
  margin: 0;
  font-family: var(--bb-font-family);
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
